[submodule "muse-frontend"]
	path = muse-frontend
	url = git@github.com:Mona-Badran/muse-frontend.git
[submodule "muse-backend"]
	path = muse-backend
	url = git@github.com:Mona-Badran/muse-backend.git
[submodule "muse-flask"]
	path = muse-flask
	url = git@github.com:Mona-Badran/muse-flask.git
